#mygallery{
    text-align:center;
    .dz-preview{
        display:inline-block;
        .dz-details{
            .dz-filename{

            }
            .dz-file{

            }
        }
        a{
            img{
                padding:6px;
                background:#fff;
                border:1px solid #ccc;
            }
        }
    }
}
