.topbar {
    position: absolute;
    height: @LAYOUT-TOPBAR-HEIGHT;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    .background-gradient(#EDEDF0, #fafafb);
    .shadow(light);
    text-align: center;
}
