var rootDir = __dirname + '/..';

module.exports = {
    port : 3000,

    rootDir : rootDir,
    srcDir : rootDir + '/src',
    serverDir : rootDir + '/src/server',
    browserDir : rootDir + '/src/browser',
    publicDir : rootDir + '/public',
    uploadDir : rootDir + '/public/uploads',

    uploadPath : '/uploads',
    miniatureFolderName : 'miniature',
    originFolderName : 'origin',
    slideshowFolderName : 'slideshow',

    logging : {
        level : 'trace'
    }
};
