<!DOCTYPE html>
<html>
<% include parts/head.ejs %>
<body>
    <div>
        <% if (error != null){ %>
            <div class="warning center-block"><%= error %></div>
        <% } %>

        <div class="info">Ceci est un album existant, on peut mettre un bouton pour créer un autre album par exemple</div>

        <div id="mygallery">
            <% for(var i=0; i < files.length; i++) { %>
                <a href="<%= files[i].paths.miniature %>">
                    <img alt="<%= files[i].name %>" src="<%= files[i].paths.miniature %>" />
                </a>
            <% } %>
        </div>
    </div>

    <% include parts/body-footer.ejs %>
</body>
</html>
