<div class="home-cover">
    <div class="animated-title">
        <p><strong>Congratulations, You have now</strong></p>
        <span class="focus"> THE album of your
            <div class="rw-words rw-words-1">
                <span>event</span>
                <span>wedding</span>
                <span>week-end</span>
                <span>travel</span>
                <span>party</span>
                <span>diner</span>
            </div>
        </span>
    </div>
    <p class="center-block">
        <button type="button" class="upload btn btn-primary btn-lg">
            Upload your first pictures
            <span class="uploadprogress btn btn-primary btn-lg"></span>
        </button>
    </p>
    <p class="more-wrap">
        <a href="#more" class="smooth">Here is the result</a>
    </p>
</div>

<a id="more"></a>

<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
