<!DOCTYPE html>
<html>
<% include head.ejs %>
<body>
    <!--<img src="/images/b2.jpg" class="bg">-->
    <div class="subtitle notification"><% if (!isnew) { %>
        Let's your friends fullfill this album, send them the url!
    <% } %></div>
    <div class="row text-center">

        <% if (isnew){ %>
        <% include cover.ejs %>
        <% } %>
        <% if (error != null){ %>
            <div class="warning center-block"><%= error %></div>
        <% } %>
        <div id="mygallery">
            <% for(var i=0; i<files.length; i++) { %>

                <% include file.ejs %>

            <% } %>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/bower_components/dropzone/downloads/dropzone.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/Justified-Gallery/dist/js/jquery.justifiedGallery.min.js"></script>
    <script src="/bower_components/mustache/mustache.js"></script>

    <script type="text/javascript" src="/js/dropzone.js"></script>

</body>
</html>
