<!DOCTYPE html>
<html>
<% include parts/head.ejs %>
<body>
    <div class="topbar">
        <h1 class="site-title">Picanoo</h1>
    </div>
    <div class="subtitle notification"><% if (!isnew) { %>
        Let's your friends fullfill this album, send them the url!
    <% } %></div>
    <div class="row text-center">
        <% if (isnew){ %>
            <% include cover.ejs %>
        <% } %>
        <% if (error != null){ %>
            <div class="warning center-block"><%= error %></div>
        <% } %>
        <div id="mygallery">
            <% for(var i=0; i<files.length; i++) { %>

                <% include file.ejs %>

            <% } %>
        </div>
    </div>


    <% include parts/body-footer.ejs %>

</body>
</html>
