<!DOCTYPE html>
<html>
<% include parts/head.ejs %>
<body ng-app="picanoo" ng-controller="AppCtrl as app">
    <div class='notifications top-right'></div>
    <% include parts/topbar.ejs %>
    <div class="row text-center" p-dropzone thumbnail="thumbnail(file, dataUrl)" added="added(file)" files="files">
        <div ng-if="isnew">
            <% include parts/home.ejs %>
        </div>
        <div class="warning center-block" ng-if="error==false"><%= data.error %></div>
        <div id="mygallery"  ng-justify-div p-slideshow>
            <div p-media ng-repeat="media in medias" media="media">
            </div>
        </div>
    </div>
        <script  type = "text/template" medias >
            <%- JSON.stringify(data) %>
        </script>
    </body>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/dropzone/downloads/dropzone.min.js"></script>
    <!-- <script type="text/javascript" src="vendors/linear-partition/dist/linear_partition.js"></script> -->
    <script type="text/javascript" src="/bower_components/underscore/underscore.js"></script>

<script type="text/javascript" src="/js/main.js"></script>
<script type="text/javascript" src="/js/pDropzone.js"></script>
<script src="/bower_components/dropzone-rowgrid-angular/public/js/linearpartition.js"></script>
<script src="/bower_components/dropzone-rowgrid-angular/public/js/justifydiv.js"></script>
<script src="/bower_components/fancybox/source/jquery.fancybox.js"></script>
<!--    <script type="text/javascript" src="js/linearpartition.js"></script>-->
</html>




