<!DOCTYPE html>
<html>
<% include parts/head.ejs %>
<body>
    <div class="topbar">
        <h1>Picanoo</h1>
    </div>
    <div class="subtitle notification"></div>
    <div class="row text-center">
        <div class="text-center cover">
            <h1 class="subtitle">Congratulations, You have now
                <span class="focus"> THE album of your
                    <div class="rw-words rw-words-1">
                        <span>event</span>
                        <span>wedding</span>
                        <span>week-end</span>
                        <span>travel</span>
                        <span>party</span>
                        <span>diner</span>
                    </div>
                </span>
            </h1>
            <p class="center-block">
                <button type="button" class="upload btn btn-primary btn-lg btn-primary">Upload your first pictures
                <span class="uploadprogress btn btn-primary btn-lg btn-primary"></span>
                </button>
            </p>
            <p  class="center-block">
                <a href="#" class="cover-link">Read more</a>
            </p>
        </div>
        <% if (error != null){ %>
            <div class="warning center-block"><%= error %></div>
        <% } %>
        <div id="mygallery">
        </div>
    </div>


    <% include parts/body-footer.ejs %>

</body>
</html>
